name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle Wrapper
        run: ./gradlew build

      - name: Find built artifact
        id: get_path
        run: |
          ARTIFACT_PATH=$(find build/libs -name "*.jar" -not -name "*-sources.jar" -type f | head -n 1)
          echo "path=$ARTIFACT_PATH" >> $GITHUB_OUTPUT

      - name: Publish
        uses: Kira-NT/mc-publish@v3.3.0
        with:
          files: ${{ steps.get_path.outputs.path }}

          modrinth-id: uJWhARde
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 1401807
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}
