name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle Wrapper
        run: ./gradlew build

      - name: Generate Changelog
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          restrictToTypes: feat,fix
          writeToFile: false

      - name: Publish
        uses: Kira-NT/mc-publish@v3.3.0
        with:
          files: build/libs/!(*-@(dev|sources|javadoc)).jar

          modrinth-id: uJWhARde
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 1401807
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}
          changelog: ${{ steps.changelog.outputs.changes }}
